* {
    margin: 0;
    padding: 0;
}

/* ------------------ ESTILOS GENERALES ------------------*/

body {
   
    font-family: "Montserrat", sans-serif;
    font-size: .95em;
    line-height: 1.2em;
    color: #8d8d8d;
    background-color: #fff;
}

h1, h2, h3, h5 {
    text-transform: uppercase;
}

h1 {
    font-size: 4em;
    font-weight: 100;
    line-height: 1.3em;
    letter-spacing: 22px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h2 {
    font-size: 1.4em;
    line-height: 1.5em;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.4em;
    line-height: 1.4em;
    letter-spacing: 1px;
}

h5 {
    font-size: 1.5em;
    line-height: 1.4em;
    letter-spacing: 1px;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

p {
    font-family: "Open Sans", sans-serif;
    line-height: 1.9em;
}

a {
    text-decoration: none;
}

.mano-alzada {
    text-transform: none;
    font-family: "Georgia",sans-serif;
    font-style: italic;
    font-weight: normal;
}

.boton {
    display: block;
    padding: 7px 0;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 2px;
    margin: 0 auto;
    width: 280px;
    text-align: center;
}

.boton.oscuro {
    border: 1px solid #555;
    color: #fff;
    background-color: #111;
}

.boton.claro {
    border: 1px solid #ddd;
    color: #3f3f3f;
    background-color: #fcfcfc;
}

.boton.derecha {
    float: right;
}

.fa-bars {
    position: fixed;
    z-index: 900;
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white;
    top: 10px;
    right: 14px;
    font-size: 2em;
    color: black;
    opacity: .5;
    cursor: pointer;
}

.padding-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.grey-section {
    background-color: rgb(245,245,245);
}

hr {
    width: 20px;
    margin-bottom: 40px;
    border-bottom: 3px solid #bd9f86;
    border-top: 0;
}

hr.especial {
    width: 50px;
    height: 5px;
    margin: 10% auto 0;
    background-color: #d7d7d7;
    border: 0;
}

.subtitle {
    margin-bottom: 80px;
    font-family: "Georgia",sans-serif;
    font-style: italic;
    color: #333;
}

.subtitle i {
    margin-right: 10px;
}

.border-bottom {
    border-bottom: 1px solid #eee;
}



/* ------------------ SECCIÓN HERO ------------------*/

#hero {
    height: 100vh;
    background: url("../img/backgrounds/bg-header.jpg") no-repeat fixed center 10% / cover;
}

 

#hero p {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
}



/* ------------------ SECCIÓN PROCESS ------------------*/

#process .firma {
    float: right;
}

#process .barbas {
    width: 100%;
}

#process .facts > div {
    margin: 150px 0;
}

#process .numero {
    font-family: "Montserrat", sans-serif;
    font-size: 11em;

    line-height: 18px; /*esto provoca que el numero no ocupe mucha altura de caja y el texto debajo pueda situarse sobre el. Es un truco que aprovecha esta circunstancia*/

    letter-spacing: 2px;
    color: #edefeb;
}

.facts article{
    margin:1em 0 0 3em;
}


/* ------------------ SECCIÓN SKILLS ------------------*/

#skills {
    padding: 50px 0;
    background: black url("../img/backgrounds/bg-skills.jpg") no-repeat fixed center top / cover;
}

#skills .elementos > div {
    padding: 20px;
    text-align: center;
    font-family: "Lato",sans-serif;
    font-weight: 300;
}

#skills .marco {
    padding: 20px 0;
    border: 1px solid white;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}

#skills .elementos p {
    margin-top: 20px;
    text-transform: lowercase;
    font-family: "Georgia",sans-serif;
    font-style: italic;
    font-size: 1.2em;
}

#skills i {
    margin-bottom: 40px;
    font-size: 4em;

}

#skills .numero {
    margin-bottom: 30px;
    font-family: "Montserrat",sans-serif;
    font-size: 3em;
    font-style: normal;
    font-weight: 400;
    color: #fff;
}

/* ------------------ SECCIÓN ABOUT ------------------*/

#about h5 {
    font-size: 1.2em
}

#about article h5 {
    margin-bottom: 20px
}

#about img {
    float: right;
    margin-top: 20px;
}

#about .claimCruz {
    margin-top: 20px;
    padding: 100px 20px;
    text-align: center;
    background: rgba(0,0,0,0) url("../img/graphic/contain-cross.png") no-repeat center / contain;
    font-size: 1.3em;
}

#about article {
    margin-top: 17px;
    margin-left: 30px;
    text-align: justify;
    line-height: 27px;
}

#about .boton {
    margin-top: 40px;
}


/* ------------------ SECCIÓN VIDEO ------------------*/

#video {
    position: relative; /* indicamos aquí position: relative para que .roller lo utilice como elemento de referencia en su posición absoluta; */


    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0) url("../img/backgrounds/bg-video.jpg") no-repeat fixed center top / cover;
}


#video .roller {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    background: url("../img/backgrounds/looping-blanco.png") no-repeat bottom right / contain;
}


#video h2 {
    margin-top: 20px;
    font-size: 3em;
    color: #fff;
}

#video i {
    font-size: 7em;
    color: white;
}

#video button {
    border: none;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
}

#video button .fa-play-circle{
    font-size: 8em;
}



/* ------------------ SECCIÓN PROYECTOS ------------------*/

#proyectos {
    text-align: center;
    background: rgb(245,245,245) url('../img/backgrounds/looping-blanco.png') no-repeat scroll right bottom / cover;
}

#proyectos i {
    padding: 10px 20px 10px 10px;
    font-size: 32px;
    color: #bd9f86;
}

#proyectos .boton {
    margin-top: 60px;
}

#proyectos img {
    width: 100%;
}



/* ------------------ SECCIÓN SERVICIOS ------------------*/

#servicios article i {
    margin: 10px 20px 10px 10px;
    text-align: left;
    font-size: 32px;
    color: #bd9f86;
}

#servicios img {
    display: block;
    margin: 70px auto 40px;
    opacity: 0.3;
}

#servicios .col-md-4:nth-of-type(1){
    margin-bottom: 80px;
}



/* ------------------ SECCIÓN CONTACTO ------------------*/

#contacto {
    background: rgb(50,50,50);
}

#contacto * {  /* usando el selector universal todos los elementos que usan color dentro de #contacto tendran color blanco */
    color: white;
}

#contacto textarea {
    height: 200px
}

#contacto input:not(.boton), #contacto textarea {
    width: 100%;
    margin-top: 25px;
    padding: 5px 20px 20px 14px;
 
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1em;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}

#contacto .boton {
    margin-top: 60px;
}



/* ------------------ SECCIÓN FOOTER ------------------*/

footer {
    text-align: center;
    background: url("../img/backgrounds/bg-atracciones.png") no-repeat center bottom / cover;
}

footer h4 {
    margin-bottom: 40px;
}

footer a {
    color: #000;

}

footer .instagram li {
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
}


footer li {
     margin-bottom: 0.5em;
}

footer cite {
    font-style: initial;
    margin-bottom: 20px
}

footer address {
    font-style: initial;
}

 
footer .ultimos-posts a{
    font-weight: bold;
}




@media screen and (max-width: 970px) {

    #process .barbas {
        display: none;
    }

    #process .facts {
        margin: 50px 0;
    }

    #process .border-bottom {
        margin-bottom: 100px;
        padding-bottom: 100px;
    }

    #about img {
        display: none;
    }

    #video .roller {
        display: none;
    }

}


@media screen and (max-width: 780px) {

    h1 {
        font-size: 2em;
    }

    #about article {
        margin-left: 0px;
    }

    #servicios article{
        margin-top: 40px;
    }

    #servicios .col-md-4 {
        margin-bottom: 80px;
    }

    .boton {
        float: none;
        margin: 40px 10%;
        display: block;
        text-align: center;
        padding: 20px 0;
        width: 80%;
    }

    #proyectos .imagen-proyecto {
        margin-top: 30px;
    }
}